<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link rel="stylesheet" href="../../static/documentation.css" type="text/css" />

<div align="center" z-index:999><img src="../../static/favicon.png"/></div> 
<script type="text/javascript" src="../../static/jquery-1.10.2.min.js"></script><script type="text/javascript">
<script src="../gg_bd_ad_720x90-2.js" type="text/javascript"></script>
<script src="../follow.js" type="text/javascript"></script>
<script type="text/javascript"></script>
<title>欢迎来到教师信息管理系统</title>
</head>

<body bgcolor="D6E4FF">
  <div align="center">欢迎来到教师信息管理系统！</div>
  <div align="center">
    {% if errors %}
      {% for error in errors %}  
       <p style="color: red;">  
          Please correct the error: {{error}}.  
       </p>  
      {% endfor %} 
    {% endif %}
  </div>
  <p align="right">你目前以{{s.username}}身份登录,<a href="../logout">(登出)</a>&nbsp;</p>
  &nbsp;<a href="/table">教师列表</a>
 	<p>
    &nbsp;教师检索：
    <form action="/search/" method="get">
      &nbsp;<input type="text" name="q">
    	&nbsp;<input type="submit"  value="搜索"> 
    </form>
  </p>
  <p>
    &nbsp;教师推荐(输入你感兴趣的研究方向)：
    <form action="/recommend/" method="get">
      &nbsp;<input type="text" name="falcuty">
      &nbsp;<input type="submit" value="搜索">
    </form>
  </p>
  
</body>
</html>