<title>教师列表</title>
<div align="center" z-index:999><img src="../static/favicon.png"/ align="center"></div> 
<meta http-equiv="Content-Type" content="text/html" />
<link rel="stylesheet" href="../../static/documentation.css" type="text/css" />
<script type="text/javascript" src="../../static/jquery-1.10.2.min.js"></script>
<script src="../gg_bd_ad_720x90-2.js" type="text/javascript"></script>
<script src="../follow.js" type="text/javascript"></script>
<script type="text/javascript"></script>
<title>教师列表</title>
<body>
{% if teacher_list %}
	<ul>
		<br>
		教师列表：</br>
		{% for a in teacher_list %}
			<li><a href= "/detail/{{a.id}}/">{{a.name}}</a></li>
		{% endfor %}
	</ul>
	{% else %}
	<p>请添加教师。</p>
{% endif %}

<p>&nbsp</p>
<p>&nbsp</p>
<p>&nbsp</p>
<p>您可以：</p>
<p>1. <a href="../main">返回主页</a></p>
<p>2. <a href="../table/">查看教师列表</a></p>
</body>