<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>教师信息更改</title>
</head>

<body>

<form action="/update/" method="get">
	<br>姓名：<input type="text" name="name" value={{detail.name}} />
	<br>生日：<input type="date" name="birth" value={{detail.birth|date:"Y-m-d"}} />
	<br>院系：<input type="text" name="faculty" value={{detail.faculty}} />
    <br><input type="submit" value="提交">
</form>

<p>您可以：</p>
<p>1. <a href="../../..">返回主页</a></p>
<p>2. <a href="../table/">查看教师列表</a></p>
<p>3. <a href="../index/">查看教师日程</a></p>
<p>4. <a href="../logout">登出</a></p>
</body>
</html>