<!DOCTYPE html>  
<html>  
<head>  
    <title>Welcome login </title>  
</head>  
<body>  
    <p>Account Login </p>  
  
    {% if errors %}  
        <li>  
            {% for error in errors %}  
             <p style="color: red;">  
                Please correct the error: {{error}} below.  
             </p>  
              {% endfor %}  
        </li>  
    {% endif %}  
  
    <form action="" method="post"> 
        {% csrf_token %} 
        <input type = 'text' placeholder="Please input account" name="account">  
       <br>  
  
        <input type = 'password' placeholder="Please input password" name="password">  
        <br>  
        <input type = 'submit' placeholder="Login" value="登录">  
        <br>  
        <a href="../student_register">学生注册</a> 
    </form>  
</body>  
</html>  